body {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  position: relative;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
  background: #EAE8ED; }
  body * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

a {
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: inherit; }
  a:hover {
    color: #FF8000 !important; }

ul {
  list-style: none; }

img {
  max-width: 100%; }

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif; }

textarea,
input {
  font-family: 'Roboto', sans-serif; }

label {
  cursor: pointer; }
  label:focus, label:hover, label:active {
    outline: 0;
    outline-offset: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

section {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: transparent; }

.content-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  left: 0; }

.page-wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
      -ms-flex: 1 1;
          flex: 1 1; }

.footer-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
      -ms-flex: 0 1;
          flex: 0 1; }

.box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.text-center {
  text-align: center; }

.col-100 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.row {
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.col-50 {
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  -webkit-box-flex: 0; }

.col-25 {
  -webkit-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  -webkit-box-flex: 0; }

.col-40 {
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  -webkit-box-flex: 0; }

.col-60 {
  -webkit-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  -webkit-box-flex: 0; }

.col-70 {
  -webkit-flex: 0 0 70%;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  max-width: 70%;
  -webkit-box-flex: 0; }

.w-100 {
  width: 100%; }

.space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.ai-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.ai-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.h-100 {
  height: 100%; }

.p-RL20 {
  padding: 0px 20px; }

.m0-auto {
  margin: 0 auto; }

h1.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase; }

h4.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  color: #000000; }

.footer {
  background-color: #536886;
  padding: 55px 0px; }
  .footer-body .footer-section {
    width: 315px;
    padding-right: 15px; }
    .footer-body .footer-section .title {
      margin-bottom: 5px;
      color: #FFFFFF; }
    .footer-body .footer-section .footer-section_item a {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 30px;
      color: #FFFFFF; }
  .footer-copyright {
    margin-left: auto; }
    .footer-copyright .copyright span {
      margin-left: 5px;
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      text-transform: uppercase;
      color: #FFFFFF; }

.header {
  height: 640px; }
  .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; }
    .header-bg img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      max-height: 720px;
      height: 100%; }
    .header-bg::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 125px;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(46.03%, rgba(0, 0, 0, 0.72)), color-stop(94.44%, rgba(0, 0, 0, 0)));
      background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.72) 46.03%, rgba(0, 0, 0, 0) 94.44%);
      background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.72) 46.03%, rgba(0, 0, 0, 0) 94.44%);
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.72) 46.03%, rgba(0, 0, 0, 0) 94.44%); }
  .header__body {
    height: 100px;
    margin-bottom: 50px; }
  .header-profile {
    position: relative; }
    .header-profile img {
      width: 35px;
      height: 35px;
      -o-object-fit: cover;
         object-fit: cover;
      cursor: pointer; }
    .header-profile .profile-dropdown {
      position: absolute;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 4px 7px rgba(143, 121, 121, 0.3);
              box-shadow: 0px 4px 7px rgba(143, 121, 121, 0.3);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 19px 30px 19px 22px;
      right: 0;
      display: none; }
      .header-profile .profile-dropdown_item {
        margin-bottom: 8px; }
        .header-profile .profile-dropdown_item a {
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 16px; }
  .header__menu {
    max-width: 700px;
    height: 60px;
    width: 100%;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 50px;
            border-radius: 50px;
    position: relative;
    padding: 5px 10px 5px 0px; }
    .header__menu .header-menu_section {
      width: 195px;
      height: 100%;
      border-right: 2px solid #F5F4F4;
      padding: 0px 24px;
      position: relative; }
      .header__menu .header-menu_section:last-of-type {
        border-right: none; }
      .header__menu .header-menu_section input {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #000000; }
        .header__menu .header-menu_section input:placeholder {
          color: rgba(0, 0, 0, 0.54); }
      .header__menu .header-menu_section .menu-section_travelers {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, 0.54);
        cursor: pointer;
        width: 100%; }
        .header__menu .header-menu_section .menu-section_travelers::after {
          content: url(../img/arrow-down.svg);
          position: absolute;
          right: -20px;
          top: 50%;
          -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
                  transform: translateY(-50%);
          -webkit-transition: all .2s linear;
          -o-transition: all .2s linear;
          transition: all .2s linear; }
        .header__menu .header-menu_section .menu-section_travelers.active::after {
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
          top: 35%; }
    .header__menu .travelers-menu {
      position: absolute;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 12px 18px rgba(83, 104, 134, 0.3);
              box-shadow: 0px 12px 18px rgba(83, 104, 134, 0.3);
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding: 20px 30px 30px 30px;
      right: -15px;
      top: 100%;
      width: 365px;
      display: none; }
      .header__menu .travelers-menu_section {
        width: 100px; }
      .header__menu .travelers-menu_title {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #000000; }
      .header__menu .travelers-menu_descr {
        font-family: 'Source Sans Pro', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 25px;
        color: #797979; }
      .header__menu .travelers-menu_calc {
        margin-top: 10px; }
        .header__menu .travelers-menu_calc .btn-calc {
          width: 16px;
          height: 16px;
          color: #FFFFFF;
          -webkit-flex-shrink: 0;
              -ms-flex-negative: 0;
                  flex-shrink: 0;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          cursor: pointer;
          background: #2196F3; }
          .header__menu .travelers-menu_calc .btn-calc.disabled {
            background: #DADADA; }
        .header__menu .travelers-menu_calc input {
          width: 27px;
          text-align: center;
          font-family: 'Source Sans Pro', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 18px;
          color: #000000; }
    .header__menu .header-menu_submit {
      margin-left: auto;
      width: 50px;
      height: 50px;
      background: #FF8000;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .header__menu .header-menu_submit:hover {
        background: #d86d03; }

.main .box.popular {
  max-width: 1380px; }

.main .popular-title {
  color: #FFFFFF;
  margin-bottom: 12px; }

.main-popular-places .popular-place {
  -webkit-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
  margin-bottom: 40px;
  margin-right: 60px;
  width: 400px;
  min-height: 280px;
  background: #FFFFFF; }
  .main-popular-places .popular-place:nth-of-type(3n) {
    margin-right: 0px; }
  .main-popular-places .popular-place_image {
    width: 100%;
    height: 300px; }
    .main-popular-places .popular-place_image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .main-popular-places .popular-place_info {
    padding: 33px 60px 40px 60px; }
  .main-popular-places .popular-place_link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 10px; }
