.footer
  background-color: $blue
  padding: 55px 0px
  margin-top: 140px
  &-body
    .footer-section 
      width: 315px
      padding-right: 15px
      .title
        margin-bottom: 5px
        color: $white
      .footer-section_item
        a
          font-family: 'Source Sans Pro', sans-serif
          font-style: normal
          font-weight: normal
          font-size: 16px
          line-height: 30px
          color: $white  

  &-copyright
    margin-left: auto
    & .copyright
      span
        margin-left: 5px
        font-family: 'Source Sans Pro', sans-serif
        font-style: normal
        font-weight: 600
        font-size: 18px
        line-height: 23px
        text-transform: uppercase
        color: $white